@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

h1 {
    text-align: center;
    padding-top: 50px;
    color: #610072;
    font-size: 75px;
    font-family: "Josefin Sans";
}

.buttons-container { 
    margin: auto;
    justify-content: center;
    display: grid; 
    grid-template-columns: repeat(4, 0.5fr); 
    grid-auto-rows: 200px;
    width: 25%; 
} 

.button-container-child {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

.info-container {
    height: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex; 
}